<div class="users-card">

  <button type="button" class="users-card-delete" (click)="onDeleteUser()">
    Удалить пользователя
  </button>

  <h3 class="users-card-name">{{ user.name }}</h3>

  <div class="users-card-title-wrapper">
    <h3 class="users-card-title">Контакты</h3>
    <hr class="users-card-line">
    <h4 class="users-card-username bold brown">@{{ user.username }}</h4>
  </div>
  <div class="users-card-group">
    <span class="users-card-group-desc">Эл. почта:</span>
    <span class="brown bold">{{ user.email }}</span>
  </div>
  <div class="users-card-group">
    <span class="users-card-group-desc">Телефон:</span>
    <span class="bold">+{{ user.phone }}</span>
  </div>
  <div class="users-card-group">
    <span class="users-card-group-desc">Веб-сайт:</span>
    <span class="brown bold">{{ user.website }}</span>
  </div>

  <div class="users-card-title-wrapper">
    <h3 class="users-card-title">Адрес Проживания</h3>
    <hr class="users-card-line">
  </div>
  <div class="users-card-group">
    <span class="users-card-group-desc">Город:</span>
    <span class="bold">{{ user.address.city }}</span>
  </div>
  <div class="users-card-group">
    <span class="users-card-group-desc">Улица:</span>
    <span class="bold">{{ user.address.street }}</span>
  </div>
  <div class="users-card-group">
    <span class="users-card-group-desc">Офис:</span>
    <span class="bold">{{ user.address.suite }}</span>
  </div>
  <div class="users-card-group">
    <span class="users-card-group-desc">Индекс:</span>
    <span class="bold">{{ user.address.zipcode }}</span>
  </div>
  <div class="users-card-group">
    <span class="users-card-group-desc">Координаты:</span>
    <div class="users-card-group-coords">
      <span class="bold coord-value">{{ user.address.geo.lat }}</span>
      <span class="bold coord-value">{{ user.address.geo.lng }}</span>
    </div>
  </div>

  <div class="users-card-title-wrapper">
    <h3 class="users-card-title">Место работы</h3>
    <hr class="users-card-line">
  </div>
  <div class="users-card-group">
    <span class="users-card-group-desc">Компания:</span>
    <span class="bold">{{ user.company.name }}</span>
  </div>
  <div class="users-card-group">
    <span class="users-card-group-desc">Миссия:</span>
    <span class="bold italic">{{ user.company.catchPhrase }}</span>
  </div>
  <div class="users-card-group">
    <span class="users-card-group-desc">Специализация:</span>
    <span class="bold">{{ user.company.bs }}</span>
  </div>
</div>