<section class="hero">
  <img class="background-nature" src="/pictures/background-nature.png" alt="background-nature">

  <main class="main">
    <h1 class="search-title fs50">Насладись прогулкой в горах <br> с командой единомышленников</h1>
    <div class="search-container">
      <div class="live-input-container">
        <input class="live-input" type="text" [(ngModel)]="liveInput" placeholder="Живой инпут">
        <div class="live-text">{{ liveInput }}</div>
      </div>
      <ul class="search-wrapper">
        <li class="search-wrapper-li">
          <select class="search-wrapper-li-select" [(ngModel)]="tour.location">
            <option value="" selected hidden disabled>Локация для тура</option>
            <option class="option" value="altai">Алтай</option>
            <option class="option" value="kavkaz">Кавказ</option>
          </select>
          <span>выберите из списка</span>
        </li>
        <li class="search-wrapper-li">
          <div class="search-wrapper-li-container" (click)="openDatePicker(dateInput)">
            <input #dateInput class="search-date" type="date" required [(ngModel)]="tour.date" placeholder="">
            <span class="custom-placeholder fs14">Дата похода</span>
            <img class="calendar" src="/pictures/calendar.png" alt="calendar">
          </div>
          <span>укажите дату</span>
        </li>
        <li class="search-wrapper-li">
          <select class="search-wrapper-li-select" [(ngModel)]="tour.participants">
            <option value="" selected hidden disabled>Участники</option>
            <option class="option" value="one">1 человек</option>
            <option class="option" value="two">2 человек</option>
          </select>
          <span>выберите из списка</span>
        </li>
        <button class="search-button" [disabled]="isSearchDisabled" (click)="onSearch()">Найти программу</button>
      </ul>
    </div>
  </main>
</section>
<div class="loading" [class.loading-hidden]="!isLoading">
  <img class="loading-icon" src="/pictures/loading.svg" alt="loading...">
</div>
<section class="about">
  <div class="about-container">
    <div class="about-nature-wrapper">
      <img class="mountain-white-img" src="\pictures\mountain-white.png" alt="mountain-white">
      <div class="forest-house-img-wrapper">
        <img class="forest-house-img" src="\pictures\forest-house.png" alt="forest-house">
        <button class="play-btn"></button>
      </div>
    </div>
    <div class="about-text-wrapper">
      <div class="about-text">
        <h4 class="about-pretitle pretitle fs24">о нашем походе</h4>
        <h3 class="about-title title fs32">Исследуйте все горные массивы мира вместе с нами</h3>
        <p class="about-description fs18">Его корни уходят в один фрагмент классической латыни 45
          года н.э., то есть более двух тысячелетий назад. Ричард МакКлинток, профессор латыни из
          колледжа Hampden-Sydney, штат Вирджиния, взял одно из самых странных слов в Lorem Ipsum,
          "consectetur"и занялся его поисками в классической латинской литературе.
        </p>
        <button class="about-btn"
          (click)="messageService.showSuccess('Запрос успешный')">
          Программа тура
        </button>
      </div>
    </div>
  </div>
</section>
<section class="facilities" tabindex="0">
  <div class="facilities-container">
    <div class="facilities-text-wrapper">
      <h4 class="facilities-pretitle pretitle fs24">наше предложение</h4>
      <h3 class="facilities-title title fs32">Лучшие программы для тебя</h3>
      <p class="facilities-discription fs18">Его корни уходят в один фрагмент классической латыни 45 года н.э.,
        то есть более двух тысячелетий назад. Ричард МакКлинток, профессор латыни из колледжа.
      </p>
      <div class="facilities-cards">

        @for (facility of facilities; track facility.id) {
        <div class="facility wrapper">
          <div>
            <div class="facility-img"><img [src]='facility.img' alt="img"></div>
          </div>
          <div class="facility-text-wrapper">
            <h4 class="facility-title">{{ facility.title }}</h4>
            <p class="facility-description">{{ facility.desc }}</p>
          </div>
        </div>
        }

      </div>
      <button class="facilities-btn"
        (click)="messageService.showInfo('Запрос информации')">
        Стоимость программ
      </button>
    </div>
    <div class="facilities-nature-wrapper">
      <div class="facilities-nature-wrapper-top">
        <img src="\pictures\nature-one.png" alt="img" (mouseenter)="changeColor($event)"
          (mouseleave)="regenColor($event)">
        <img src="\pictures\nature-two.png" alt="img" (mouseenter)="changeColor($event)"
          (mouseleave)="regenColor($event)">
      </div>
      <div class="facilities-nature-wrapper-bottom">
        <img src="\pictures\nature-three.png" alt="img" (mouseenter)="changeColor($event)"
          (mouseleave)="regenColor($event)">
        <img src="\pictures\nature-four.png" alt="img" (mouseenter)="changeColor($event)"
          (mouseleave)="regenColor($event)">
      </div>
    </div>
  </div>
</section>
<section class="popular">
  <div class="popular-container">
    <div class="popular-title-container">
      <h4 class="popular-pretitle pretitle fs24">по версии отдыхающих</h4>
      <h3 class="popular-title  title fs32">Популярные направления</h3>
    </div>
    <div class="popular-card-container">

      @for(location of locations; track location.id) {
      <div class="location-card">
        <div class="location-container">
          <div class="location-text-container">
            <h3 class="location-title">{{ location.title }}</h3>
            <p class="location-description">{{ location.desc }}</p>
          </div>
          <div class="location-price-container">
            <span class="location-price">{{ location.price }} &#36;</span>
          </div>
        </div>
        <div class="location-raiting-container">
          <div class="location-raiting-star-wrapper"><img class="location-raiting-star" src="/pictures/star.svg"
              alt="star icon"></div>
          <span class="location-raiting">{{ location.raiting.toFixed(1) }}</span>
        </div>
        <img class="location-img" [src]="location.img" alt="location image">
      </div>
      }

    </div>
    <button class="popular-btn"
      (click)="messageService.showWarn('Внимание запрос отправлен')">
      Рейтинг направлений
    </button>
  </div>
</section>

<section class="blog">
  <div class="blog-container">
    <div class="blog-title-container">
      <h4 class="blog-pretitle pretitle fs24">делимся впечатлениями</h4>
      <h3 class="blog-title title fs32">Блог о путешествиях</h3>
    </div>
    <div class="blog-cards-container">

      @for (blogCard of blogCards; track blogCard.id) {
      <div class="blog-card">
        <img [src]="blogCard.img" alt="blog image">
        <div class="blog-card-text-container">
          <div class="blog-card-top">
            <h3 class="blog-card-title fs24">{{ blogCard.title }}</h3>
            <p class="blog-card-description fs14">{{ blogCard.desc }}</p>
          </div>
          <div class="blog-card-bottom">
            <span class="blog-card-date fs14">{{ blogCard.date }}</span>
            <button class="blog-card-btn fs14">читать статью</button>
          </div>
        </div>
      </div>
      }

    </div>
    <button class="blog-btn"
      (click)="messageService.showError('Ошибка запроса')">
      Другие материалы
    </button>
  </div>
</section>

<section class="review">
  <div class="review-container">
    <div class="review-title-container">
      <h4 class="review-pretitle pretitle fs24">делимся впечатлениями</h4>
      <h3 class="review-title title fs32">Блог о путешествиях</h3>
    </div>
    <div class="review-pictures-container">
      <div class="review-pictures-container-top">
        <img src="/pictures/balloons-in-the-sky.svg" alt="">
        <img src="/pictures/map.svg" alt="">
        <img src="/pictures/boat.svg" alt="">
      </div>
      <div class="review-pictures-container-bottom">
        <img src="/pictures/beach.svg" alt="">
        <img src="/pictures/canyon.svg" alt="">
        <img src="/pictures/old-map.svg" alt="">
      </div>
    </div>
    <button class="review-btn"
      (click)="messageService.showError('Ошибка запроса')">
      Другие материалы
    </button>
  </div>
</section>