<section class="users">
  <div class="users-container">
    <div class="users-title-container">
      <h1 class="users-title">Список Пользователей</h1>
    </div>
    
    <app-user-create (userCreated)="onUserCreated($event)"/>
    <app-users-filter (filterChanged)="onFilterChanged($event)"/>
    <div class="users-catalog">

      @for (user of filteredUsers$ | async; track user.id) {
        <app-user-card
          [user]="user"
          (deleteUser)="onDeleteUser($event)"
        ></app-user-card>
      }

    </div>

  </div>
</section>