<section class="hero">
  <img class="background-nature" src="/pictures/background-nature.png" alt="background-nature">
  <header class="header">
    <div class="header-container">
      <div class="img-container">
        <img class="img-header" src="/pictures/two-mountains.png" alt="two-mountains">
        <h3 class="title-header">{{titleName.toUpperCase()}}</h3>
      </div>
      <nav class="nav">
        <ul class="nav-ul fs18">
          <li class="nav-li">Главная</li>
          <li class="nav-li">Про гида</li>
          <li class="nav-li">Программа тура</li>
          <li class="nav-li">Стоимость</li>
          <li class="nav-li">Блог</li>
          <li class="nav-li">Контакты</li>
        </ul>
      </nav>
      <button class="nav-btn">Консультация</button>
    </div>
  </header>
  <main class="main">
    <h1 class="search-title fs50">Насладись прогулкой в горах <br> с командой единомышленников</h1>
    <div class="search-container">
      <ul class="search-wrapper">
        <li class="search-wrapper-li">
          <div class="search-wrapper-li-div">Локация для тура<img src="/pictures/arrow-down.png" alt="arrow-down"></div>
          <span>выберите из списка</span>
        </li>
        <li class="search-wrapper-li">
          <div class="search-wrapper-li-div">Дата похода<img class="calendar" src="/pictures/calendar.png" alt="calendar"></div>
          <span>укажите дату</span>
        </li>
        <li class="search-wrapper-li">
          <div class="search-wrapper-li-div">Участники<img src="/pictures/arrow-down.png" alt="arrow-down"></div>
          <span>выберите из списка</span>
        </li>
        <button class="search-button">Найти программу</button>
      </ul>
    </div>
  </main>
</section>