<section class="footer">
  <div class="footer-container">
    <div class="footer-main-container">
      <div class="footer-about-container">
        <h3 class="fs20">Компания «РумТибет»</h3>
        <p>Его корни уходят в один фрагмент классической латыни 45 года н.э., то есть более двух тысячелетий назад.
          Ричард МакКлинток, профессор латыни из колледжа Hampden-Sydney.</p>
        <div class="footer-about-contacts">
          <span>info@domain.com</span>
          <span>+7 (123) 456-78-90</span>
        </div>
        <div class="footer-images-container">
          <img src="/pictures/tg-icon.svg" alt="">
          <img src="/pictures/vk-icon.svg" alt="">
          <img src="/pictures/pinterest-icon.svg" alt="">
          <img src="/pictures/skype-icon.svg" alt="">
        </div>
      </div>
      <div class="footer-services-container">
        <h3 class="footer-servises-title fs20">Наши услуги</h3>
        <ul class="footer-servises-ul">
          <li class="footer-servises-li">Прогулки в горы летом</li>
          <li class="footer-servises-li">Зимние походы в горы</li>
          <li class="footer-servises-li">Посещение храмов в горах</li>
          <li class="footer-servises-li">Экстремальные виды туризма</li>
          <li class="footer-servises-li">Походы в джунглях Амазонии</li>
          <li class="footer-servises-li">Поездка в Африку</li>
        </ul>
      </div>
      <div class="footer-important-container">
        <h3 class="footer-important-title">Важно для путешествий</h3>
        <ul class="footer-important-ul">
          <li class="footer-important-li">Как собрать в долгий поход?</li>
          <li class="footer-important-li">Жизненно важные предметы для похода</li>
          <li class="footer-important-li">Медицинская страховка, гарантии безопасности</li>
          <li class="footer-important-li">Если вы врач - загляните сюда</li>
        </ul>
      </div>
    </div>
  </div>
  
  <section class="form">
    <div class="form-container">
      <div class="form-title-container">
        <h4 class="form-pretitle pretitle fs18">актуально</h4>
        <h3 class="form-title title fs26">Получайте полезные рассылки о путешествиях</h3>
      </div>

      <div class="form-main-container">
        <form class="form-body" action="">
          <span class="form-label fs16">Введите e-mail адрес</span>

          <div class="form-input-container">
            <input class="form-input" type="text" placeholder="name@domain.com">
            <button class="form-btn fs16">Подписаться на новости</button>
          </div>
        </form>

        <p class="form-text fs14">подписываясь на новости, вы автоматически соглашаетесь с условиями обработки персональных данных и правилами рекламных рассылок</p>
      </div>
    </div>
  </section>
</section>

<section class="super-footer">
  <div class="footer-bottom-container">
    <span class="footer-bottom-span">ИП Константинопольский К.К., 2023</span>
    <span class="footer-bottom-span">Политика обработки персональных данных</span>
  </div>
</section>