@mixin title() {
  color: var(--black-color);
  font-weight: var(--font-extra-bold);
  line-height: 120%;
  letter-spacing: 0;
}

@mixin btn() {
  min-width: 213px;
  height: 52px;
  background-color: #1a3e3e;
  color: var(--white-color);
  border-radius: 4px;
  padding-top: 16px;
  padding-right: 36px;
  padding-bottom: 16px;
  padding-left: 36px;
  border: none;
  cursor: pointer;
  white-space: nowrap;
}

@mixin pretitle() {
  color: var(--yellow-color);
  font-weight: var(--font-min);
  line-height: 20px;
  letter-spacing: 0;
  margin-bottom: 8px;
}

@mixin desc() {
  font-weight: var(--font-min);
  line-height: 150%;
  letter-spacing: 0;
}