@mixin btn() {
  min-width: 213px;
  height: 52px;
  background-color: #1a3e3e;
  color: var(--white-color);
  border-radius: 4px;
  padding-top: 16px;
  padding-right: 36px;
  padding-bottom: 16px;
  padding-left: 36px;
  border: none;
  cursor: pointer;
  white-space: nowrap;
}

@mixin desc() {
  font-weight: var(--font-min);
  line-height: 150%;
  letter-spacing: 0;
}

@mixin nav-btn {
  min-width: 158px;
  height: 44px;
  color: #1A3E3E;
  background-color: var(--white-color);
  font-weight: var(--font-normal);
  border-radius: 4px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

@mixin input {
  height: 52px;
  min-width: 270px;
  border: 1px solid var(--white-color);
  border-radius: 7px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 16px 0 16px;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: transparent;
  color: var(--white-color);
  outline: none;
  cursor: pointer;
}

@mixin location-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 120%;
  letter-spacing: 0;
}

@mixin location-paragrath {
  max-width: 195px;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0em;

}