@use './_fonts';
@use './_normalize';
@use './mixins.scss' as *;

* {
  font-family: 'Nunito Sans';
  font-style: normal;
  margin: 0;
  padding: 0;
}

body {
  display: block;
  margin: 0 auto;
}

:root {
  --white-color: #FDFDFD;
  --black-color: #18121E;
  --yellow-color: #F2BE22;
  --font-extra-bold: 800;
  --font-bold: 700;
  --font-normal: 600;
  --font-min: 400;
}

.fs16 {
  font-size: 16px;
}

.fs18 {
  font-size: 18px;
}

.fs20 {
  font-size: 20px;
}

.fs24 {
  font-size: 24px;
}

.fs32 {
  font-size: 32px;
}

.fs50 {
  font-size: 50px;
}

.option {
  color: var(--black-color);
}

.pretitle {
  margin: 0 auto 8px;
  color: var(--yellow-color);
  font-weight: var(--font-min);
  line-height: 20px;
  letter-spacing: 0;
  margin-bottom: 8px;
}

.title {
  color: var(--black-color);
  font-weight: var(--font-extra-bold);
  line-height: 120%;
  letter-spacing: 0;
  margin-bottom: 40px;
}